*{
    overflow: hidden;

}
body {
    font-family: sans-serif;
}
.Container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(208, 227, 227);

}
body{
    margin: 0;
}

.ta{
    margin-bottom: 10px;
   
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.333);
    background-color:gainsboro ;
    display: flex;
    flex-direction: column;
    
}
.title{
    text-align: center;

}
.ta div{
    margin-left: auto;
    margin-right: auto;
}
.list{
    
    width: 97vw;
    height: 88%;
    margin-left: 11px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.l{
    border-radius: 8px;
    
    border: solid 1px gray;
    background-color: gainsboro;
    width: 47.5vw;
    height: 95%;
    margin: auto;
    overflow-y: auto;position: relative;

}

.addTodo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: none;
    
    
}
    .input{
        height: 100%;
        border-radius: 9px;
        border: none;
        background-color: rgb(248, 248, 248);
        font-size: 1.2em;
    
}

.add_todo{
    height: 40%;
    border-radius: 9px;
    border: none;
}
.addtask{
    height: fit-content;
    margin-top: auto;
    margin-left: 5%;
    text-align:left ;
    font-weight: bold;
    font-size: 1.2em;
}
::-webkit-scrollbar-track{width: 100px;}

i {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-weight: bolder;
    font-size: 30px;
    background-color: rgb(10, 202, 220);
    padding: 1.5px 10px;
    color: rgb(9, 7, 105);
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    transition: transform 200ms;
    box-shadow: 0 0 10px rgba(9, 7, 105,0.5);
}
i:hover{
    transform: scale(120%);
    transition: transform 200ms;
}
svg{
    fill: rgb(73, 76, 78);
    transform: scale(50%);
}

.todos {
    padding-inline-start: 0px; /* Remove default margin */
}
.todos li > div {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
}
.btns {
    width: fit-content;
    margin-left: auto;
}
code {
    margin-top: auto;
    margin-left: auto;
}

.todos li{
    width: 100%;
    padding-left: 10px;
    background: rgb(149, 220, 226);
    border-bottom: 1px solid gray;
}
.appear{
    display: none;
}
.addTodoContainer {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
}
.show {

    display: block;
}
.add_todo_popup {
    background-color: white;
    width:fit-content;
    padding: 10px;
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    box-shadow:0 0px 15px rgba(0, 0, 0, 0.5);
}
.add_todo_popup input,textarea{
    border: 2px solid rgb(28, 25, 230);
    transition: border 200ms;
    min-width: 300px;
    max-width: 300px;
}
textarea {
    min-height: 50px;
    max-height: 150px;
    overflow-y: auto;
}
td {
    user-select: none;
    vertical-align:top;
}
.add_todo_popup input:focus,textarea:focus{
    border: 2px solid rgb(150, 149, 235);
    transition: border 200ms;
    outline: none;
}
.add_todo_popup button {
    background-color: rgb(28, 25, 230);
    border:none;
    padding: 10px 20px;
    color: aliceblue;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 5px;
    transition: padding 200ms, background-color 200ms;
}
.add_todo_popup button:hover{
    padding: 12.5px 22.5px;
    background-color: rgb(150, 149, 235);
    transition: 200ms;
    color: rgb(45, 45, 45);
    
}
#doneList li{
    background-color: rgb(107, 116, 107);
    color:aliceblue
}
svg:hover{fill: grey;}
