*{
    overflow: hidden;

}
.Container{
    width: 100vw;
    font-family: sans-serif;
    height: 100vh;
    background-color: rgb(208, 227, 227);

}
body{
    margin: 0;
}

.ta{
    margin-bottom: 10px;
   
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.333);
    background-color:gainsboro ;
    display: flex;
    flex-direction: column;
    
}
.title{
    text-align: center;

}
.ta div{
    margin-left: auto;
    margin-right: auto;
}
.list{
    
    width: 97vw;
    height: 88%;
    margin-left: 11px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.l{
    border-radius: 8px;
    
    border: solid 1px gray;
    background-color: gainsboro;
    width: 47.5vw;
    height: 95%;
    margin: auto;
    overflow-y: auto;position: relative;

}

.addTodo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: none;
    
    
}
    .input{
        height: 100%;
        border-radius: 9px;
        border: none;
        background-color: rgb(248, 248, 248);
        font-size: 1.2em;
    
}

.add_todo{
    height: 40%;
    border-radius: 9px;
    border: none;
}
.addtask{
    height: fit-content;
    margin-top: auto;
    margin-left: 5%;
    text-align:left ;
    font-weight: bold;
    font-size: 1.2em;
}
::-webkit-scrollbar-track{width: 100px;}

i {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-weight: bolder;
    font-size: 30px;
    background-color: rgb(10, 202, 220);
    padding: 1.5px 10px;
    color: rgb(9, 7, 105);
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    transition: transform 200ms;
    box-shadow: 0 0 10px rgba(9, 7, 105,0.5);
}
i:hover{
    transform: scale(120%);
    transition: transform 200ms;
}
svg{
    fill: rgb(73, 76, 78);
    transform: scale(50%);
}

.todos {
    padding-inline-start: 0px; /* Remove default margin */
}
.todos li > div {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
}
.btns {
    width: fit-content;
    margin-left: auto;
}
code {
    margin-top: auto;
    margin-left: auto;
}

.todos li{
    width: 100%;
    padding-left: 10px;
    background: rgb(10, 202, 220);
    border-bottom: 1px solid gray;
}